button {
  font-size: 36px;
  padding: 30px;
  color: #fff;
  cursor: pointer;
  min-width: 350px;
  text-transform: uppercase;
}

.count {
  background-color: #00b894;
  border: 1px solid #00b894;
  margin-bottom: 20px;
}

.delete {
  background-color: #d63031;
  border: 1px solid #d63031;
}
