.app {
  align-items: center;
  background-color: #dedede;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.count {
  font-size: 150px;
  color: #444;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;

  &:before {
    background-color: #fab1a0;
    bottom: 50px;
    content: "";
    height: 70px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
